{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    <h1>Bienvenue sur le site sortir.com le meilleur site du monde</h1>
    <p>ou le deuxieme mais a as grand chose pret</p>
{% endblock %}
