{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
<h2>Filtrer les sortie</h2>
    <p>Todo...</p>

<h2>Liste des sorties</h2>
    {% for sortie in sorties %}{
        {{ sortie.nom }}
    {% else %}
        <p>Aucune sortie de prévu !</p>
    {% endfor %}
{% endblock %}
