{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    <form class="form-group" action="" method="post">
        <div class="mb-3">
            <label class="form-label" for="pass">Mot de passe :</label>
            <input class="form-control" type="password" id="pass" name="pass">
        </div>
        <div>
            <label class="form-label"  for="passConf">Nouveau mot de passe :</label>
            <input class="form-control" type="password" id="passConf" name="passConf">
        </div>
        <button class="btn size_btn">Valider</button>
    </form>

{% endblock %}

{% block title %}
    {{ parent() }} | Modifier le mot de passe
{% endblock %}

