{% extends 'base.html.twig' %}

{% block body %}

    <h1>Modifier le Profil</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}

    {{ form_end(form) }}

{% endblock %}

{% block title %}
    {{ parent() }} | Modifier profil
{% endblock %}

