{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier le mot de passe</h1>
    <form action="" method="post">
        <div>
            <label for="pass">Mot de passe :</label>
            <input type="password" id="pass" name="pass">
        </div>
        <div>
            <label for="passConf">Nouveau mot de passe :</label>
            <input type="password" id="passConf" name="passConf">
        </div>
        <button>Valider</button>
    </form>

{% endblock %}

{% block title %}
    {{ parent() }} | Modifier le mot de passe
{% endblock %}

