{% extends 'base.html.twig' %}

{% block title %}Recuperation du mot de passe{% endblock %}

{% block body %}
    <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
            <h2>Récuperation de mot de passe</h2>
            <p>Un lien pour changer votre mot de passe vous a été envoyé. Veuillez suivre les instructions de celui-ci pour vous connecter !</p>
            <button class="btn size_btn btn-outline-secondary" type="button">Retour a l'acceuil</button>
        </div>
    </div>
{% endblock %}
